@charset "UTF-8";

@font-face {
    font-family: Impacted;
    src: url(fontes/titulo/Impacted2.0.ttf) format('truetype');
}

@font-face {
    font-family: Maquina;
    src: url(fontes/texto/JMH\ Typewriter-Bold.ttf) ;
}

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --fontetitulo: Impacted;
    --fontesubtitulo: Maquina;
    --fontepadrao: Georgia, 'Times New Roman', Times, serif;
    --offwhite: #d6d6d6;
    --corsec: #91a9bd;
}

body {
    background-color: rgba(141, 141, 168, 0.712);
    margin: 0px;
    min-height: 100vh;
}

header {
    padding: 10px;
    margin: 0px;
    border: 0px;
    text-align: center;
    color: var(--offwhite) ;
    background-color: black;
}

header h1{
    font-family: var(--fontetitulo);
    font-weight: 500;
    font-size: 3em;
}

header h2{
    font-family: var(--fontesubtitulo);
}

header a{
    color: var(--corsec);
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main {
    max-width: 800px;
    align-self: center;
    max-width: 1000px;
    background-color: #91a9bd;
    border-radius: 30px;
    margin: auto;
    padding: 30px;
    font-family: var(--fontepadrao);
    text-align: justify;
}

main p{
    margin-bottom: 22px;
    line-height: 20px;
}

section#img1, section#img2{
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    min-height: 60vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.486) 2px 2px 5px;
    background-repeat: no-repeat;
    margin: 22px 0px;
    padding: 10px;
}

#img1 {
    background-image: url(img/soleterra.jpg);
}

#texto1 {
    background-color: rgba(0,0,0,0.5);
    color: var(--corsec);
    padding: 20px;
    border-radius: 30px;
    font-style: italic;
    box-shadow: rgba(0, 0, 0, 0.486) 2px 2px 5px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    margin-bottom: 22px;
    line-height: 20px;
    
}

#img2 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url(img/geleiras.png);
}
    

#texto2 {
    background-color: rgba(0, 0, 0, 0.33);
    color: var(--corsec);
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.486) 2px 2px 5px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    margin-bottom: 22px;
    line-height: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: var(--offwhite);
}

footer a {
    text-decoration: none;
    color: var(--corsec);
}

a:hover{
    text-decoration: underline;
}